.title-section-switch{
    display: flex;
    align-items: center;
    gap: 15px;
}

.year-toggle{
    padding: 6px 18px;
    border: 2px solid #007bff;
    border-radius: 20px;
    background: white;
    color: #007bff;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
}

.year-toggle:hover{
    background: #007bff;
    color: white;
}

/* animation container */
#aboutContent{
  transition: transform 0.35s ease, opacity 0.35s ease;
}

.slide-left-out{
  transform: translateX(-60px);
  opacity: 0;
}

.slide-right-out{
  transform: translateX(60px);
  opacity: 0;
}

.slide-reset{
  transform: translateX(0);
  opacity: 1;
}



.toggle-wrapper{
  position: relative;
}

.year-tip{
  position: absolute;
  bottom: 45px;
  left: 50%;
  transform: translateX(-50%) translateY(10px);
  background: #333;
  color: white;
  padding: 6px 12px;
  font-size: 12px;
  border-radius: 6px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
  white-space: nowrap;
}

.year-tip::after{
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  border-width: 6px;
  border-style: solid;
  border-color: #333 transparent transparent transparent;
}

.year-tip.show{
  opacity: 1;
  transform: translateX(-50%) translateY(0);
}